.landing-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-links {
  width: 100%;
  text-align: center;
}

button {
    margin-left: 1em;
}

.code-information {
    font-style: oblique;
    font-size: 8px;
    color: coral;
}

img {
    margin-top: 1em;
}