.landing-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-links {
  width: 100%;
  text-align: center;
}

button {
    margin-left: 1em;
}

.code-information {
    font-style: oblique;
    font-size: 8px;
    color: coral;
}

img {
    margin-top: 1em;
}