<!-- [] property (attribute) binding (Angular), ngClass = directive -->
<div class="face-snap-card" [ngClass]="{snapped : snapped}">
    <h2>{{faceSnapModel.title}}</h2>
    <!--ajoute les informations de locatilisations de la photo si disponible-->
    @if (faceSnapModel.nameLocation) {
        <p>location:
        @if (faceSnapModel.mapLocation) {<a [href]="faceSnapModel.mapLocation">{{faceSnapModel.nameLocation}}</a>}
        @else {
            {{faceSnapModel.nameLocation}}
        }
        </p>
    }
    <p>Mis en ligne le {{faceSnapModel.createdAt}}</p>
    <p>{{faceSnapModel.description}}</p>
    <p>
        <!-- () event binding (Angular) -->
        <button (click)="onSnap()">{{buttonText}}</button>
        <!-- [] property (attribute) binding (Angular), ngStyle = directive -->
        <span [ngStyle]="{color : 'rgb(0, '+ faceSnapModel.snaps + ', 0)'}">{{faceSnapModel.snaps}}</span> 🤏
    </p>
    <!-- [] property (attribute) binding (Angular) -->
    <img [src]="faceSnapModel.imageUrl" [alt]="faceSnapModel.title">
</div>