<!-- [] property (attribute) binding (Angular), ngClass = directive -->
<div class="face-snap-card" [ngClass]="{snapped: snapped, 'singleView': isSingleView}">
    <!-- le pipe modifie le fromatage d'affichage de la donnée -->
    <h2>{{faceSnapModel.title | titlecase}}</h2>
    <!--ajoute les informations de locatilisations de la photo si disponible-->
    @if (faceSnapModel.nameLocation) {
        <p>location:
        @if (faceSnapModel.mapLocation) {<a [href]="faceSnapModel.mapLocation">{{faceSnapModel.nameLocation}}</a>}
        @else {
            {{faceSnapModel.nameLocation}}
        }
        </p>
    }
    <p>Mis en ligne le {{faceSnapModel.createdAt | date : 'd MMMM y à HH:mm:ss'}}</p>
    <p>{{faceSnapModel.description}}</p>
    <p>
        <!-- () event binding (Angular) -->
        <button (click)="onSnap()">{{buttonText}}</button>
        <!-- [] property (attribute) binding (Angular), ngStyle = directive -->
        <span [ngStyle]="{color : 'rgb(0, '+ faceSnapModel.snaps + ', 0)'}">{{faceSnapModel.snaps}}</span> 🤏
    </p>
    <!-- [] property (attribute) binding (Angular) -->
    <img [src]="faceSnapModel.imageUrl" [alt]="faceSnapModel.title">
    @if(isSingleView) {
        <a routerLink="/facesnaps">BACK</a>
        <!-- ajoute une valeur potentielle du post (snap) si disponible en modifiant son formatage -->
        @if (faceSnapModel.value) {
            <p id="potentialSnapValue">{{faceSnapModel.value | number: '1.0-1'}}💸</p><!--'chiffresMinAvantVirgule.chiffresMinAprèsVirgule-chiffresMaxAprèsVirgule'-->
        }
    }
    @else {
        <button (click)="singleView()">vue simple</button>
    }
</div>